.schedule-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.table-container {
  flex: 3;
  overflow-y: hidden; /* Evitar el desplazamiento vertical */
}

.elective-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; /* Ocultar el desbordamiento en el contenedor principal */
  margin-left: 20px; /* Añade espacio entre la tabla y la lista de electivos */
  /* xxxxxxxxxxx */
  border: 2px solid #4a90e2; /* Mismo borde que la tabla */
  border-radius: 5px; /* Opcional: añadir un poco de redondez a las esquinas */
}

/* Los estilos originales de la tabla */
.Normal {
  border: 2px solid #4a90e2;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.header-row {
  background-color: #4a90e2;
  color: #ffffff;
}

.header-row th {
  padding: 8px;
}

.period-row {
  text-align: center;
  background-color: #e1f1ff;
}

.period-cell {
  border: 1px solid #4a90e2;
  padding: 8px;
  font-size: 11px;
  color: #333;
}

.slot-cell {
  border: 1px solid #4a90e2;
  padding: 8px;
  font-size: 11px;
  cursor: pointer;
  background-color: #ffffff;
}

.selected-slot {
  background-color: #d4edda;
}

.selected-elective {
  margin-top: 20px;
}

.selected-elective {
  background-color: #ffff00; /* Color amarillo para el slot del electivo seleccionado */
  cursor: default; /* Hace que la celda no sea clickeable */
}
